<div class="card">
  <figure class="poster-box card-banner" *ngIf="filme?.poster_path else semCapa">
    <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ filme.poster_path }}" alt="Capa do filme">
  </figure>

  <h4 class="title">{{ filme.title }}</h4>

  <div class="meta-container">
    <div class="meta-list">
      <div class="meta-item">
        <img src="assets/images/star-18.png" alt="avaliação" loading="lazy">
        <span class="span">{{ filme.vote_average | number: '1.1-1'}}</span>
      </div>
    </div>
    <div class="card-badge">{{ filme.release_date | date: 'yyyy'}}</div>
  </div>
  <a routerLink="/detail/{{filme.id}}" class="card-btn" title="{{filme.title}}"></a>
</div>


<ng-template #semCapa>
  <figure class="poster-box card-banner">
    <img src="assets/images/capa-indisponivel.png" width="220" height="330" alt="Capa do filme">
  </figure>
</ng-template>