footer {
    background-color: black;
    height: 83px;
    width: 100%;
    bottom: 0;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    z-index: 999;
}

span {
    margin-right: 0.5rem;
    font-size: 20px;
}