header {
  background-color: black;
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > * {
  padding: 0 20px;
}

header img {
  max-height: 60px;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  cursor: default;
}

.wrap {
  width: 20%;
}

.lupa img {
  width: 20px;
}