<section class="container" *ngIf="listaEmCartaz else loading">

    <app-carrossel-filmes class="carrossel" [filmes]="listaCarrossel"></app-carrossel-filmes>
    
    <app-filme-slider id="emCartaz" class="slider" [listaFilmes]="listaEmCartaz" [agrupador]="'Agora nos cinemas'"></app-filme-slider>
    
    <app-filme-slider *ngIf="listaHypados" id="hypados" class="slider" [listaFilmes]="listaHypados" [agrupador]="'Hypados'"></app-filme-slider>
    
    <app-filme-slider *ngIf="listaMelhoresAvaliados" id="hypados" class="slider" [listaFilmes]="listaMelhoresAvaliados" [agrupador]="'Melhores avaliados'"></app-filme-slider>
    
</section>

<ng-template #loading>
    <div class="loading">
        <div class="loading-spinner">
            <img src="assets/images/loading.png" alt="Carregando...">
        </div>
        <h4><strong>Carregando</strong></h4>
    </div>

</ng-template>