<section class="container-banner" *ngIf="filmes">
    <div class="slider">

        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" [value]="0" [(ngModel)]="cardSelecionado">
            <input type="radio" name="radio-btn" id="radio2" [value]="1" [(ngModel)]="cardSelecionado">
            <input type="radio" name="radio-btn" id="radio3" [value]="2" [(ngModel)]="cardSelecionado">
            <input type="radio" name="radio-btn" id="radio4" [value]="3" [(ngModel)]="cardSelecionado">

            <div class="slide" [ngClass]="i === 0? 'first' : ''" *ngFor="let filme of filmes; let i = index">

                <div class="content">
                    <h2 style="font-size: 2.5em;">{{ filme.title }}</h2>
                    
                    <div class="info-container">
                        <div class="card">{{ filme.release_date | date: 'yyyy'}}</div>
                        <div class="meta-list">
                            <div class="meta-item">
                                <img src="assets/images/star-18.png" alt="avaliação" loading="lazy">
                                <span class="vote">{{ filme.vote_average | number: '1.1-1'}}</span>
                            </div>
                        </div>
                    </div>
                    <p class="sinopse">{{ filme.overview }}</p>
                </div>
                <img src="https://media.themoviedb.org/t/p/w1920_and_h427_multi_faces{{ filme.backdrop_path }}"
                    class="banner" alt="arte do filme" height="427">
            </div>

        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-btn" [ngClass]="selecionarCard(0)">
                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ filmes[0].poster_path }}" alt="capa filme"
                    width="80">
            </label>
            <label for="radio2" class="manual-btn" [ngClass]="selecionarCard(1)">
                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ filmes[1].poster_path }}" alt="capa filme"
                    width="80">
            </label>
            <label for="radio3" class="manual-btn" [ngClass]="selecionarCard(2)">
                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ filmes[2].poster_path }}" alt="capa filme"
                    width="80">
            </label>
            <label for="radio4" class="manual-btn" [ngClass]="selecionarCard(3)">
                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{ filmes[3].poster_path }}" alt="capa filme"
                    width="80">
            </label>
        </div>
    </div>
</section>