* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    padding-bottom: 83px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #000000 0%, #000000 10%, #383838 40%);
    overflow-x: hidden;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

button:hover {
    background: #050C42;
    transition: all 0.5s ease-in;
    border: 2px solid #050C42;
}

::-webkit-scrollbar {
    border-radius: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:active {
    background-color: #7c7c7c;
}
::-webkit-scrollbar-track:active {
    background-color: #ffffff07;
}
::-webkit-scrollbar-track {
    background-color: #ffffff00;
}